/* 전역 초기화 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 로딩바 */

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

#spinner {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: black;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* 로딩바 끝 */

/* header 시작 */

#header {
    width: 100vw;
    height: 10vh;
    background-color: #212227;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .centerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .logo {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 16px;
    background-image: url("../images/logo.png");
    background-size: cover;
}

#header .logoText {
    margin: 16px;
}

#header .menuItem {
    margin: 16px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#header .menuText {
    color: white;
}

#header .menuSmallText {
    font-size: 10px;
}

#header .basicBtn {
    margin: 16px;
    display: inline-block;
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

#header .logoutBtn {
    background-color: #ff8850;
}
#header .logoutBtn:hover {
    background-color: #db6c38;
}

#header .initBtn {
    background-color: #ff8850;
}
#header .initBtn:hover {
    background-color: #db6c38;
}

#header .button {
    margin: 16px;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #ff8850;
}

/* header 끝 */

/* 로그인 시작 */

#loginContainer {
    width: 500px;
    height: 300px;
    background-color: #ffffff;
    margin: 10vh auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 3px #808080;
    border-radius: 10px;
    border: 1px solid #ddd;
}

#loginContainer input {
    width: 400px;
    height: 50px;
    margin: 8px;
    border-radius: 10px;
}

#loginContainer .longButton {
    width: 400px;
    height: 50px;
    margin: 8px;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-weight: bold;
}

#loginContainer .loginButton {
    background-color: #ff8850;
}

#loginContainer .loginButton:hover {
    background-color: #d6632e;
}

#loginContainer .signUpButton {
    background-color: #ff8888;
}

#loginContainer .signUpButton:hover {
    background-color: rgb(219, 71, 71);
}

/* 로그인 끝 */

/* 회원가입 시작 */

#signUpContainer {
    width: 500px;
    height: 500px;
    background-color: #ffffff;
    margin: 10vh auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 3px #808080;
    border-radius: 10px;
    border: 1px solid #ddd;
}

#signUpContainer .flexLine {
    display: flex;
    justify-content: center;
    align-items: center;
}

#signUpContainer .idBox {
    width: 315px;
    height: 50px;
    margin: 8px;
    border-radius: 10px;
}

#signUpContainer input {
    width: 400px;
    height: 50px;
    margin: 8px;
    border-radius: 10px;
}

#signUpContainer .pwdText {
    font-size: 12px;
    margin-left: 32px;
    margin-right: auto;
    color: red;
}

#signUpContainer .checkBtn {
    display: inline-block;
    width: 70px;
    height: 50px;
    margin: 8px;
    border-radius: 10px;
    background-color: #ff8850;
    color: white;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}

#signUpContainer .checkBtn:hover {
    color: white;
    background-color: #d6632e;
}

#signUpContainer .signUpButton {
    width: 400px;
    height: 50px;
    margin: 8px;
    border-radius: 10px;
    background-color: #ff8888;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: white;
}

#signUpContainer .signUpButton:hover { 
    color: white;
    background-color: rgb(219, 71, 71);
}

/* 회원가입 끝 */

/* 프로필 시작 */

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#mainContent {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gridContainer {
    width: 700px;
    height: 550px;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "area1 area2 area2"
        "area3 area4 area5"
    ;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #808080;
    border: 1px solid black;
}
.area1 {
    grid-area: area1;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.area2 {
    grid-area: area2;
    padding: 30px;
}
.area2 h1 {
    margin-bottom: 16px;
}
.area2 * {
    color: rgb(226, 226, 226);
}

.area3 {
    grid-area: area3;
}
.area4 {
    grid-area: area4;
}
.area5 {
    grid-area: area5;
}

.flexColumnArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexRowsArea {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.flexRowsArea div {
    margin: 8px;
}

#gridContainer .rankImg {
    width: 150px;
    height: 250px;
    background-size: cover;
    margin: 16px;
}

#gridContainer .ironImg {
    background-image: url(../images/Transparent_Iron.webp);
}
#gridContainer .bronzeImg {
    background-image: url(../images/Transparent_Bronze.webp);
}
#gridContainer .silverImg {
    background-image: url(../images/Transparent_Silver.webp);
}
#gridContainer .goldImg {
    background-image: url(../images/Transparent_Gold.webp);
}
#gridContainer .platinumImg {
    background-image: url(../images/Transparent_Platinum.webp);
}
#gridContainer .diamondImg {
    background-image: url(../images/Transparent_Diamond.webp);
}
#gridContainer .mithrilImg {
    background-image: url(../images/Transparent_Mithril.webp);
}

#gridContainer .charImg {
    display: inline-block;
    width: 80%;
    height: 80%;
    margin: 16px;
    border-radius: 10px;
    background-size: cover;
}

/* 프로필 끝 */

/* 캐릭터 시작 */

#charContainer {
    width: auto;
    height: 600px;
    margin: 10vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menuCustomContainer {
    display: inline-block;
    width: 200px;
    height: 600px;
    background-color: #ffffff;
    padding: 16px;
    box-shadow: 3px 3px 3px #808080;
    border-radius: 10px;
    border: 1px solid #ddd;
}

#statsContainer {
    display: inline-block;
    width: 1000px;
    height: 600px;
    background-color: #ffffff;
    padding: 16px;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px #808080;
    border-radius: 10px;
    border: 1px solid #ddd;
}

#statsContainer h3{
    margin-bottom: 16px;
}

#tableStats {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    text-align: center;
}

#tableStats tr{
    border: 1px solid black;
}

.statsChar {
    border: 0;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.statsCharImg {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 16px;
    background-color: #ffaaff;
}

/* 캐릭터 끝 */

/* footer */

#footer {
    width: 100vw;
    height: 10vh;
    background-color: #43454e;
}

#footer .flexHorizontal {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#footer .smallLogo{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 16px;
    background-image: url("../images/logo.png");
    background-size: cover;
}

#footer .footerText {
    display: inline-block;
    color: white;
}

#footer p {
    color: white;
    font-size: 10px;
    margin-left: 16px;
}