/* 전역 초기화 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 로딩바 */

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

#spinner {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: black;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* 로딩바 끝 */

/* header 시작 */

#header {
    width: 100vw;
    height: 10vh;
    background-color: #212227;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .centerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .logo {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 16px;
    background-image: url("../images/logo.png");
    background-size: cover;
}

#header .logoText {
    margin: 16px;
}

#header .menuItem {
    margin: 16px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#header .menuText {
    color: white;
}

#header .menuSmallText {
    font-size: 10px;
}

#header .basicBtn {
    margin: 16px;
    display: inline-block;
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

#header .logoutBtn {
    background-color: #ff8850;
}
#header .logoutBtn:hover {
    background-color: #db6c38;
}

#header .initBtn {
    background-color: #ff8850;
}
#header .initBtn:hover {
    background-color: #db6c38;
}

#header .button {
    margin: 16px;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #ff8850;
}

/* header 끝 */

/* 로그인 시작 */

#mainLogo .logo {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url("../images/logo.png");
    background-color: #212227;
    background-size: cover;
}

#loginContainer {
    width: 500px;
    height: 300px;
    background-color: #ffffff;
    margin: 10vh auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 3px #808080;
    border-radius: 10px;
    border: 1px solid #ddd;
}

#loginContainer input {
    width: 400px;
    height: 50px;
    margin: 8px;
    border-radius: 10px;
}

#loginContainer .longButton {
    width: 400px;
    height: 50px;
    margin: 8px;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-weight: bold;
}

#loginContainer .loginButton {
    background-color: #ff8850;
}

#loginContainer .loginButton:hover {
    background-color: #d6632e;
}

#loginContainer .signUpButton {
    background-color: #ff8888;
}

#loginContainer .signUpButton:hover {
    background-color: rgb(219, 71, 71);
}

/* 로그인 끝 */

/* 회원가입 시작 */

#signUpContainer {
    width: 500px;
    height: 500px;
    background-color: #ffffff;
    margin: 10vh auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 3px #808080;
    border-radius: 10px;
    border: 1px solid #ddd;
}

#signUpContainer .flexLine {
    display: flex;
    justify-content: center;
    align-items: center;
}

#signUpContainer .idBox {
    width: 315px;
    height: 50px;
    margin: 8px;
    border-radius: 10px;
}

#signUpContainer input {
    width: 400px;
    height: 50px;
    margin: 8px;
    border-radius: 10px;
}

#signUpContainer .pwdText {
    font-size: 12px;
    margin-left: 32px;
    margin-right: auto;
    color: red;
}

#signUpContainer .checkBtn {
    display: inline-block;
    width: 70px;
    height: 50px;
    margin: 8px;
    border-radius: 10px;
    background-color: #ff8850;
    color: white;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}

#signUpContainer .checkBtn:hover {
    color: white;
    background-color: #d6632e;
}

#signUpContainer .signUpButton {
    width: 400px;
    height: 50px;
    margin: 8px;
    border-radius: 10px;
    background-color: #ff8888;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: white;
}

#signUpContainer .signUpButton:hover { 
    color: white;
    background-color: rgb(219, 71, 71);
}

/* 회원가입 끝 */

/* 프로필 시작 */

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#mainContent {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gridContainer {
    width: auto;
    height: auto;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "area1 area2 area2"
        "area3 area4 area5"
    ;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #808080;
    border: 1px solid black;
}
.area1 {
    grid-area: area1;
    width: 250px;
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.area2 {
    grid-area: area2;
    padding: 30px;
    color: rgb(250, 250, 250);
    font-weight: bold;
}
.area2 .nickname {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 32px;
}
.area2 .season {
    font-size: 16px;
}
.area2 .rankTier {
    font-size: 20px;
}
.area2 .rp {
    font-size: 28px;
}

.area3 {
    grid-area: area3;
}
.area4 {
    grid-area: area4;
}
.area5 {
    grid-area: area5;
}

.flexColumnArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexRowsArea {
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorWhiteBold {
    color: white;
    font-weight: bold;
    margin: 8px;
}

#gridContainer .rankImg {
    width: 100%;
    height: 100%;
    background-size: cover;
    margin: 16px;
}

#gridContainer .ironImg {
    background-image: url(../images/Transparent_Iron.webp);
}
#gridContainer .bronzeImg {
    background-image: url(../images/Transparent_Bronze.webp);
}
#gridContainer .silverImg {
    background-image: url(../images/Transparent_Silver.webp);
}
#gridContainer .goldImg {
    background-image: url(../images/Transparent_Gold.webp);
}
#gridContainer .platinumImg {
    background-image: url(../images/Transparent_Platinum.webp);
}
#gridContainer .diamondImg {
    background-image: url(../images/Transparent_Diamond.webp);
}
#gridContainer .mithrilImg {
    background-image: url(../images/Transparent_Mithril.webp);
}

#gridContainer .charImg {
    display: inline-block;
    width: 80%;
    height: 80%;
    margin: 16px;
    border-radius: 10px;
    background-size: cover;
}

/* 프로필 끝 */

/* 캐릭터 시작 */

#charContainer {
    width: auto;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#statsContainer {
    display: inline-block;
    width: auto;
    height: 600px;
    background-color: #ffffff;
    padding: 16px;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px #808080;
    border-radius: 10px;
    border: 1px solid #ddd;
}

#statsContainer .flexLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
    margin-top: 0px;
}

#statsContainer .absolutePivot {
    position: relative;
}

#statsContainer .basicBtn {
    display: inline-block;
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

#statsContainer .menuBtn {
    background-color: #ff8850;
}
#statsContainer .menuBtn:hover {
    background-color: #db6c38;
}

#statsContainer .menuBox {
    position: absolute;
    top: 58px;
    right: 0px;
    width: 200px;
    height: 500px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgb(131, 131, 131);
    border-radius: 5px;
    padding: 8px;
}

#menuCheckTable {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

#menuCheckTable label {
    margin: 8px;
}

#menuCheckTable .applyBtn {
    width: 100%;
    height: 100%;
    background-color: #ff8850;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
#menuCheckTable .applyBtn:hover {
    background-color: #db6c38;
}

#tableStats {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    text-align: center;
}

#tableStats tr{
    border: 1px solid rgb(197, 197, 197);
    color : #387175;
}

#tableStats th {
    width: auto;
    height: 50px;
    background-color: #43454e;
    color: white;
    font-size: 16px;
}

#tableStats td {
    width: 150px;
    font-size: 15px;
    color: rgb(53, 53, 53);
}

#tableStats .charCell {
    width: 250px;
}

.statsChar {
    border-right: 1px solid rgb(197, 197, 197);
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.statsCharImg {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 16px;
    background-color: #838383;
    border-radius: 50%;
}

/* 캐릭터 끝 */

/* 최근 전적 시작 */

#gamesContainer {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gamesContainer .cardView {
    display: inline-block;
    width: 50vw;
    height: 600px;
    background-color: #ffffff;
    padding: 16px;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px #808080;
    border-radius: 10px;
    border: 1px solid #ddd;
}

#gamesContainer .gameCell {
    width: auto;
    height: 100px;
    margin: 16px;
    display: flex;
    justify-content: left;
    align-items: center;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
}

#gamesContainer .cellBlock {
    width: 100px;
    text-align: center;
}

#gamesContainer .smallImg {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #ddd;
}

.gameCell > div {
    margin: 16px;
}

#gamesContainer .over1 {
    margin: 0px;
    height: 100%;
    border-radius: 5px;
    border-left: 5px solid rgb(99, 211, 99);
}
#gamesContainer .over3 {
    margin: 0px;
    height: 100%;
    border-radius: 5px;
    border-left: 5px solid rgb(60, 145, 214);
}
#gamesContainer .under3 {
    margin: 0px;
    height: 100%;
    border-radius: 5px;
    border-left: 5px solid #aaa;
}

#gamesContainer .over1Text {
    color: rgb(99, 211, 99);
    font-weight: bold;
    font-size: 20px;
}
#gamesContainer .over3Text {
    color: rgb(60, 145, 214);
    font-weight: bold;
    font-size: 20px;
}
#gamesContainer .under3Text {
    color: #aaa;
    font-weight: bold;
    font-size: 20px;
}

#gamesContainer .smallText {
    font-size: 12px;
}
#gamesContainer .boldText {
    font-weight: bold;
}

#navigation {
    margin: 16px;
}

#navigation .naviBtn{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 8px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    background-color: #ff8850;
    color: white;
    font-weight: bold;
}

#navigation .naviBtn:hover {
    background-color: #db6c38;
}

#navigation .selectNaviBtn {
    background-color: rgb(60, 145, 214);
}
#navigation .selectNaviBtn:hover {
    background-color: rgb(42, 116, 177);
}

/* 최근 전적 끝 */

/* footer */

#footer {
    width: 100vw;
    height: 10vh;
    background-color: #43454e;
}

#footer .flexHorizontal {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#footer .smallLogo{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 16px;
    background-image: url("../images/logo.png");
    background-size: cover;
}

#footer .footerText {
    display: inline-block;
    color: white;
}

#footer p {
    color: white;
    font-size: 10px;
    margin-left: 16px;
}

/* 기타 */

/* 1 재키
2 아야
3 현우
4 매그
5 피오라
6 나딘
7 자히르
8 하트
9 아이솔
10 리다이린
11 유키
12 혜진
13 쇼우
14 키아라
15 시셀라
16 실비아
17 아드
18 쇼이치
19 엠마
20 레녹스
21 로지
22 루크
23 캐시
24 아델라
25 버니스
26 바바라
27 알렉스
28 수아
29 레온
30 일레븐
31 리오
32 윌리엄
33 니키
34 나타폰
35 얀
36 이바
37 다니엘
38 제니
39 카밀로
40 클로에
41 요한
42 비앙카
43 셀린
44 에키온
45 마이
46 에이든
47 라우라
48 띠아
49 펠릭스
50 엘레나
51 프리야
52 아디나
53 마커스
54 칼라
55 에스텔
56 피올로
57 마르티나
58 헤이즈
59 아이작
60 타지아
61 이렘
62 테오도르
63 이안
64 바냐
65 뎁마
66 아르다
67 아비게일
68 알론소
69 레니
70 츠바메
71 케네스
72 카티야
73 샬럿
74 다르코
75 르노어 */