<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <meta charset="EUC-KR">
    <title>Insert title here</title>
    <link rel="stylesheet" href="css/total.css">
</head>

<body>
    <div id="app">
        <div v-if="isLoading" id="loading">
            <div id="spinner"></div>
        </div>
        <header id="header">
            <div class="centerFlex">
                <div class="logo"></div>
                <div class="logoText">
                    <h3 class="menuText">Return GG</h3>
                    <p class="menuText menuSmallText">이터널 리턴 전적 분석 사이트</p>
                </div>
                <a href="profile.html" class="menuItem">프로필</a>
                <a href="character.html" class="menuItem">캐릭터 통계</a>
                <a href="games.html" class="menuItem">최근 전적</a>
                
                <button class="basicBtn initBtn" @click="fnNavInit">전적 갱신</button>
                <div class="menuItem">
                    <div class="updateLabel">지난 갱신일</div>
                    <div>{{userInfo.updateTime}}</div>
                </div>
            </div>
            <div class="centerFlex">
                <div class="menuText">{{userInfo.nickname}}님 환영합니다!</div>
                <button class="basicBtn logoutBtn" @click="fnLogout">로그아웃</button>
            </div>
        </header>
        <section id="charContainer">
            <div id="statsContainer">
                <div class="flexLine">
                    <h3>캐릭터 통계</h3>
                    <div class="absolutePivot">
                        <button class="basicBtn menuBtn" @click="fnToggleMenu">테이블 커스텀</button>
                        <div v-if="isShowMenu" class="menuBox">
                            <table id="menuCheckTable">
                                <tr><td><label><input type="checkbox" v-model="customMenuCheck.isViewRank">평균 순위</label></td></tr>
                                <tr><td><label><input type="checkbox" v-model="customMenuCheck.isViewToDamage">평균 딜량</label></td></tr>
                                <tr><td><label><input type="checkbox" v-model="customMenuCheck.isViewFromDamage">평균 탱킹</label></td></tr>
                                <tr><td><label><input type="checkbox" v-model="customMenuCheck.isViewHeal">평균 아군 치유량</label></td></tr>
                                <tr><td><label><input type="checkbox" v-model="customMenuCheck.isViewGainRp">평균 RP 획득량</label></td></tr>
                                <tr><td><label><input type="checkbox" v-model="customMenuCheck.isViewKills">평균 킬 수</label></td></tr>
                                <tr><td><label><input type="checkbox" v-model="customMenuCheck.isViewDeaths">평균 데스 수</label></td></tr>
                                <tr><td><label><input type="checkbox" v-model="customMenuCheck.isViewAssistant">평균 어시스트 수</label></td></tr>
                                <tr><td><label><input type="checkbox" v-model="customMenuCheck.isViewTeamKill">평균 팀 킬 수</label></td></tr>
                                <tr><td><label><input type="checkbox" v-model="customMenuCheck.isViewCcTime">평균 cc 시간</label></td></tr>
                                <tr><td><button class="applyBtn" @click="fnMenuCheck">적용</button></td></tr>
                            </table>
                        </div>
                    </div>
                </div>
                <table id="tableStats">
                    <tr>
                        <th class="charCell" style="color: #ff8850;">캐릭터</th>
                        <th v-if="menuCheck.isViewRank">평균 순위</th>
                        <th v-if="menuCheck.isViewToDamage">평균 딜량</th>
                        <th v-if="menuCheck.isViewFromDamage">평균 탱킹</th>
                        <th v-if="menuCheck.isViewHeal">평균 힐량</th>
                        <th v-if="menuCheck.isViewGainRp">평균 RP 획득량</th>
                        <th v-if="menuCheck.isViewKills">평균 킬 수</th>
                        <th v-if="menuCheck.isViewDeaths">평균 데스 수</th>
                        <th v-if="menuCheck.isViewAssistant">평균 어시스트 수</th>
                        <th v-if="menuCheck.isViewTeamKill">평균 팀 킬 수</th>
                        <th v-if="menuCheck.isViewCcTime">평균 cc 시간</th>
                    </tr>
                    <template v-if="charInfo.length == 0">
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </template>
                    <template v-else>
                    <tr v-for="(item, index) of charInfo">
                        <td class="statsChar charCell">
                            <div class="statsCharImg" :style="fnSetCharImg(item.CHARACTER_NUM)"></div>
                            <div>
                                <div class="textBold">{{charName[ index ].charName}}</div>
                                <div>{{item.MATCHES}}판</div>
                            </div>
                        </td>
                        <td v-if="menuCheck.isViewRank">{{item.GAME_RANK}}</td>
                        <td v-if="menuCheck.isViewToDamage">{{item.DAMAGE_TO_PLAYER}}</td>
                        <td v-if="menuCheck.isViewFromDamage">{{item.DAMAGE_FROM_PLAYER}}</td>
                        <td v-if="menuCheck.isViewHeal">{{item.TEAM_RECOVER}}</td>
                        <td v-if="menuCheck.isViewGainRp">{{item.MMR_GAIN}}</td>
                        <td v-if="menuCheck.isViewKills">{{item.PLAYER_KILL}}</td>
                        <td v-if="menuCheck.isViewDeaths">{{item.PLAYER_DEATHS}}</td>
                        <td v-if="menuCheck.isViewAssistant">{{item.PLAYER_ASSISTANT}}</td>
                        <td v-if="menuCheck.isViewTeamKill">{{item.TEAM_KILL}}</td>
                        <td v-if="menuCheck.isViewCcTime">{{item.CC_TIME_TO_PLAYER}}</td>
                    </tr>
                 </template>
                </table>
            </div>
        </section>
        <footer id="footer">
            <div class="flexHorizontal">
                <div class="smallLogo"></div>
                <div class="footerText">Return GG</div>
            </div>
            <p>© Return.GG. Eternal Return and all related logos are trademarks of Nimble Neuron, inc. or its affiliates.</p>
        </footer>
    </div>
</body>
<script>
    const app = Vue.createApp({
        data() {
            return {
                userInfo: {
                    userId : "",
                    nickname : "",
                    updateTime : "",
                    userNum : "",
                    mmr : ""
                },
                charInfo : [],
                charName : [],
                menuCheck : {
                    isViewRank : true,
                    isViewToDamage : true,
                    isViewFromDamage : true,
                    isViewHeal : true,
                    isViewGainRp : true,
                    isViewKills : true,
                    isViewDeaths : true,
                    isViewAssistant : true,
                    isViewTeamKill : true,
                    isViewCcTime : true
                },
                customMenuCheck: {
                    isViewRank : true,
                    isViewToDamage : true,
                    isViewFromDamage : true,
                    isViewHeal : true,
                    isViewGainRp : true,
                    isViewKills : true,
                    isViewDeaths : true,
                    isViewAssistant : true,
                    isViewTeamKill : true,
                    isViewCcTime : true
                },
                mostCharInfo: [{}, {}, {}],
                isLoading: false,
                isNext : true,
                isShowMenu : false,
                backUrl : "background-image: url(../images/1_small.png);",
                htmlArr : []
            };
        },
        methods: {
            fnNavProfile() {
                location.href = "profile.html";
            },
            fnNavChar() {
                location.href = "character.html";
            },
            fnLogout() {
                sessionStorage.clear();
                location.href = "login.html";
            },
            fnNavInit() {
                this.isLoading = true;
                this.fnSetUpdateTime();
                this.fnUpdateMMR();
                this.fnApiRequest("");
            },
            fnSetUpdateTime() {
                $.ajax({
                    url: `http://localhost:3000/updateTime`,
                    dataType: "json",
                    type: "POST",
                    data: JSON.stringify({ "userId": this.userInfo.userId }),
                    contentType: "application/json",
                    success: (data) => {
                        this.userInfo.updateTime = data[ 0 ].UPDATETIME;
                        sessionStorage.setItem("updateTime", data[ 0 ].UPDATETIME);
                    }
                });
            },
            fnUpdateMMR() {
                var userNum = this.userInfo.userNum;

                $.ajax({
                    url: `https://open-api.bser.io/v1/user/stats/${userNum}/25`,
                    dataType: "json",
                    type: "GET",
                    contentType: "application/json",
                    headers: {
                        "accept": "application/json",
                        "x-api-key": "2hjkR0q4z62fTg87aY6O3giO9jcQ70C7rP1uSwwc"
                    },
                    success: (data) => {
                        
                        for (let i = 0; i < 3; i++) {
                            var mostChar      = data.userStats[ 0 ].characterStats[ i ].characterCode;
                            var mostTotalGame = data.userStats[ 0 ].characterStats[ i ].totalGames;
                            var mostWins      = data.userStats[ 0 ].characterStats[ i ].wins;
                            var avgWins       = (mostWins / mostTotalGame * 100).toFixed(1);
                            this.mostCharInfo[ i ] = { "char" : mostChar, "totalGame" : mostTotalGame, "avgWins" : avgWins};
                        }

                        var userId = this.userInfo.userId;
                        var mmr = data.userStats[0].mmr;

                        $.ajax({
                            url: `http://localhost:3000/updateMMR`,
                            dataType: "json",
                            type: "POST",
                            data: JSON.stringify({ "userId": userId, "mmr": mmr }),
                            contentType: "application/json",
                            success: (data) => {
                                this.userInfo.mmr = data[ 0 ].MMR;
                                sessionStorage.setItem("mmr", data[ 0 ].MMR);
                            }
                        });
                    }
                });
            },
            // 한번에 다 주는 방식이 아니고, 10경기씩 페이지로 나누어 제공한다.
            // 그래서 next로 다음 페이지 요청을 보내야한다..
            // 이를 재귀 함수로 구현함.
            fnApiRequest(next) {
                // 1초에 1 request 제한이 걸려있음.
                this.sleep(1000);

                var userNum = this.userInfo.userNum;

                var urlStr = "";
                if (next == "") {
                    urlStr = `https://open-api.bser.io/v1/user/games/${userNum}`;
                } else {
                    urlStr = `https://open-api.bser.io/v1/user/games/${userNum}?next=${next}`;
                }

                $.ajax({
                    url: urlStr,
                    dataType: "json",
                    type: "GET",
                    contentType: "application/json",
                    headers: {
                        "accept": "application/json",
                        "x-api-key": "2hjkR0q4z62fTg87aY6O3giO9jcQ70C7rP1uSwwc"
                    },
                    success: (data) => {
                        // 재귀 종료 조건
                        if (data.next == undefined || !this.isNext) {
                            this.isLoading = false;
                            location.reload(true);
                            return;
                        }

                        // 현재 시즌만 다룸
                        var games = [];
                        for (var game of data.userGames) {
                            if (game.seasonId == 25)
                                games.push(game);
                        }

                        // 10게임씩 db에 저장
                        $.ajax({
                            url: `http://localhost:3000/init`,
                            dataType: "json",
                            type: "POST",
                            data: JSON.stringify({ "userGames": games }),
                            contentType: "application/json",
                            success: (data) => {
                                // db에서 중첩된 레코드를 발견하면 api질의를 중단해야 함.
                                if (!data[ 0 ].next) {
                                    this.isNext = false;
                                }
                            }
                        });

                        // 재귀 호출
                        this.fnApiRequest(data.next);
                    }
                });
            },
            fnLoadSessionInfo() {
                this.userInfo.userId     = sessionStorage.getItem("userId");
                this.userInfo.nickname   = sessionStorage.getItem("nickname");
                this.userInfo.userNum    = sessionStorage.getItem("userNum");
                this.userInfo.updateTime = sessionStorage.getItem("updateTime");
                this.userInfo.mmr        = sessionStorage.getItem("mmr");
            },
            fnLoginCheck() {
                var userId = sessionStorage.getItem("userId");
                if (userId == null) {
                    alert("로그인이 필요합니다.");
                    location.href = "login.html";
                }
            },
            fnDataInit() {
                var userNum = this.userInfo.userNum;
                
                $.ajax({
                   url: `http://localhost:3000/charInit`,
                   dataType: "json",
                   type: "POST",
                   data: JSON.stringify({"userNum" : userNum}),
                   contentType: "application/json",
                   success: (data) => {
                        this.charInfo = data;
                        this.fnSetCharName();
                   }
                });
            },
            fnMenuCheck() {
                this.fnCopyMenuCheck(this.menuCheck, this.customMenuCheck);

                var userId = this.userInfo.userId;
                $.ajax({
                   url: `http://localhost:3000/menuCheck`,
                   dataType: "json",
                   type: "POST",
                   data: JSON.stringify({"userId" : userId, "menuCheck" : this.menuCheck}),
                   contentType: "application/json",
                   success: (data) => {
                        console.log(data);
                   }
                });

                this.fnToggleMenu();
            },
            fnGetMenuCheck() {
                var userId = this.userInfo.userId;

                $.ajax({
                    url: `http://localhost:3000/getMenuCheck`,
                    dataType: "json",
                    type: "POST",
                    data: JSON.stringify({"userId" : userId}),
                    contentType: "application/json",
                    success: (data) => {
                        // 저장된 데이터가 없을 때는 초기화 값 사용
                        if (data.length == 0) {
                            return;
                        }
                        // 있다면 db에서 저장된 설정 불러오기
                        this.menuCheck.isViewRank       = data[ 0 ].RANK        == "true" ? true : false;
                        this.menuCheck.isViewToDamage   = data[ 0 ].TO_DAMAGE   == "true" ? true : false;
                        this.menuCheck.isViewFromDamage = data[ 0 ].FROM_DAMAGE == "true" ? true : false;
                        this.menuCheck.isViewHeal       = data[ 0 ].HEAL        == "true" ? true : false;
                        this.menuCheck.isViewGainRp     = data[ 0 ].GAIN_RP     == "true" ? true : false;
                        this.menuCheck.isViewKills      = data[ 0 ].KILLS       == "true" ? true : false;
                        this.menuCheck.isViewDeaths     = data[ 0 ].DEATHS      == "true" ? true : false;
                        this.menuCheck.isViewAssistant  = data[ 0 ].ASSISTANT   == "true" ? true : false;
                        this.menuCheck.isViewTeamKill   = data[ 0 ].TEAM_KILL   == "true" ? true : false;
                        this.menuCheck.isViewCcTime     = data[ 0 ].CC_TIME     == "true" ? true : false;
                        
                        this.fnCopyMenuCheck(this.customMenuCheck, this.menuCheck);
                    }
                });
            },
            sleep(time) {
                const wakeUpTime = Date.now() + time;
                while (Date.now() < wakeUpTime) { }
            },
            fnToggleMenu() {
                this.isShowMenu = !this.isShowMenu;
            },
            fnCopyMenuCheck(menu1, menu2) {
                menu1.isViewRank       = menu2.isViewRank;
                menu1.isViewToDamage   = menu2.isViewToDamage;
                menu1.isViewFromDamage = menu2.isViewFromDamage;
                menu1.isViewHeal       = menu2.isViewHeal
                menu1.isViewGainRp     = menu2.isViewGainRp
                menu1.isViewKills      = menu2.isViewKills
                menu1.isViewDeaths     = menu2.isViewDeaths
                menu1.isViewAssistant  = menu2.isViewAssistant
                menu1.isViewTeamKill   = menu2.isViewTeamKill
                menu1.isViewCcTime     = menu2.isViewCcTime
            },
            fnSetCharImg(charNum) {
                return {
                    backgroundImage : `url(./images/${charNum}_small.png)`
                }
            },
            fnSetCharName() {
                for (let info of this.charInfo) {
                    if (info.CHARACTER_NUM == 1) { this.charName.push({"charName" : "재키"}); };
                    if (info.CHARACTER_NUM == 2) { this.charName.push({"charName" : "아야"}); };
                    if (info.CHARACTER_NUM == 3) { this.charName.push({"charName" : "현우"}); };
                    if (info.CHARACTER_NUM == 4) { this.charName.push({"charName" : "매그"}); };
                    if (info.CHARACTER_NUM == 5) { this.charName.push({"charName" : "피오라"}); };
                    if (info.CHARACTER_NUM == 6) { this.charName.push({"charName" : "나딘"}); };
                    if (info.CHARACTER_NUM == 7) { this.charName.push({"charName" : "자히르"}); };
                    if (info.CHARACTER_NUM == 8) { this.charName.push({"charName" : "하트"}); };
                    if (info.CHARACTER_NUM == 9) { this.charName.push({"charName" : "아이솔"}); };
                    if (info.CHARACTER_NUM == 10) { this.charName.push({"charName" : "리다이린"}); };
                    if (info.CHARACTER_NUM == 11) { this.charName.push({"charName" : "유키"}); };
                    if (info.CHARACTER_NUM == 12) { this.charName.push({"charName" : "혜진"}); };
                    if (info.CHARACTER_NUM == 13) { this.charName.push({"charName" : "쇼우"}); };
                    if (info.CHARACTER_NUM == 14) { this.charName.push({"charName" : "키아라"}); };
                    if (info.CHARACTER_NUM == 15) { this.charName.push({"charName" : "시셀라"}); };
                    if (info.CHARACTER_NUM == 16) { this.charName.push({"charName" : "실비아"}); };
                    if (info.CHARACTER_NUM == 17) { this.charName.push({"charName" : "아드리아나"}); };
                    if (info.CHARACTER_NUM == 18) { this.charName.push({"charName" : "쇼이치"}); };
                    if (info.CHARACTER_NUM == 19) { this.charName.push({"charName" : "엠마"}); };
                    if (info.CHARACTER_NUM == 20) { this.charName.push({"charName" : "레녹스"}); };
                    if (info.CHARACTER_NUM == 21) { this.charName.push({"charName" : "로지"}); };
                    if (info.CHARACTER_NUM == 22) { this.charName.push({"charName" : "루크"}); };
                    if (info.CHARACTER_NUM == 23) { this.charName.push({"charName" : "캐시"}); };
                    if (info.CHARACTER_NUM == 24) { this.charName.push({"charName" : "아델라"}); };
                    if (info.CHARACTER_NUM == 25) { this.charName.push({"charName" : "버니스"}); };
                    if (info.CHARACTER_NUM == 26) { this.charName.push({"charName" : "바바라"}); };
                    if (info.CHARACTER_NUM == 27) { this.charName.push({"charName" : "알렉스"}); };
                    if (info.CHARACTER_NUM == 28) { this.charName.push({"charName" : "수아"}); };
                    if (info.CHARACTER_NUM == 29) { this.charName.push({"charName" : "레온"}); };
                    if (info.CHARACTER_NUM == 30) { this.charName.push({"charName" : "일레븐"}); };
                    if (info.CHARACTER_NUM == 31) { this.charName.push({"charName" : "리오"}); };
                    if (info.CHARACTER_NUM == 32) { this.charName.push({"charName" : "윌리엄"}); };
                    if (info.CHARACTER_NUM == 33) { this.charName.push({"charName" : "니키"}); };
                    if (info.CHARACTER_NUM == 34) { this.charName.push({"charName" : "나타폰"}); };
                    if (info.CHARACTER_NUM == 35) { this.charName.push({"charName" : "얀"}); };
                    if (info.CHARACTER_NUM == 36) { this.charName.push({"charName" : "이바"}); };
                    if (info.CHARACTER_NUM == 37) { this.charName.push({"charName" : "다니엘"}); };
                    if (info.CHARACTER_NUM == 38) { this.charName.push({"charName" : "제니"}); };
                    if (info.CHARACTER_NUM == 39) { this.charName.push({"charName" : "카밀로"}); };
                    if (info.CHARACTER_NUM == 40) { this.charName.push({"charName" : "클로에"}); };
                    if (info.CHARACTER_NUM == 41) { this.charName.push({"charName" : "요한"}); };
                    if (info.CHARACTER_NUM == 42) { this.charName.push({"charName" : "비앙카"}); };
                    if (info.CHARACTER_NUM == 43) { this.charName.push({"charName" : "셀린"}); };
                    if (info.CHARACTER_NUM == 44) { this.charName.push({"charName" : "에키온"}); };
                    if (info.CHARACTER_NUM == 45) { this.charName.push({"charName" : "마이"}); };
                    if (info.CHARACTER_NUM == 46) { this.charName.push({"charName" : "에이든"}); };
                    if (info.CHARACTER_NUM == 47) { this.charName.push({"charName" : "라우라"}); };
                    if (info.CHARACTER_NUM == 48) { this.charName.push({"charName" : "띠아"}); };
                    if (info.CHARACTER_NUM == 49) { this.charName.push({"charName" : "펠릭스"}); };
                    if (info.CHARACTER_NUM == 50) { this.charName.push({"charName" : "엘레나"}); };
                    if (info.CHARACTER_NUM == 51) { this.charName.push({"charName" : "프리야"}); };
                    if (info.CHARACTER_NUM == 52) { this.charName.push({"charName" : "아디나"}); };
                    if (info.CHARACTER_NUM == 53) { this.charName.push({"charName" : "마커스"}); };
                    if (info.CHARACTER_NUM == 54) { this.charName.push({"charName" : "칼라"}); };
                    if (info.CHARACTER_NUM == 55) { this.charName.push({"charName" : "에스텔"}); };
                    if (info.CHARACTER_NUM == 56) { this.charName.push({"charName" : "피올로"}); };
                    if (info.CHARACTER_NUM == 57) { this.charName.push({"charName" : "마르티나"}); };
                    if (info.CHARACTER_NUM == 58) { this.charName.push({"charName" : "헤이즈"}); };
                    if (info.CHARACTER_NUM == 59) { this.charName.push({"charName" : "아이작"}); };
                    if (info.CHARACTER_NUM == 60) { this.charName.push({"charName" : "타지아"}); };
                    if (info.CHARACTER_NUM == 61) { this.charName.push({"charName" : "이렘"}); };
                    if (info.CHARACTER_NUM == 62) { this.charName.push({"charName" : "테오도르"}); };
                    if (info.CHARACTER_NUM == 63) { this.charName.push({"charName" : "이안"}); };
                    if (info.CHARACTER_NUM == 64) { this.charName.push({"charName" : "바냐"}); };
                    if (info.CHARACTER_NUM == 65) { this.charName.push({"charName" : "데비&마를렌"}); };
                    if (info.CHARACTER_NUM == 66) { this.charName.push({"charName" : "아르다"}); };
                    if (info.CHARACTER_NUM == 67) { this.charName.push({"charName" : "아비게일"}); };
                    if (info.CHARACTER_NUM == 68) { this.charName.push({"charName" : "알론소"}); };
                    if (info.CHARACTER_NUM == 69) { this.charName.push({"charName" : "레니"}); };
                    if (info.CHARACTER_NUM == 70) { this.charName.push({"charName" : "츠바메"}); };
                    if (info.CHARACTER_NUM == 71) { this.charName.push({"charName" : "케네스"}); };
                    if (info.CHARACTER_NUM == 72) { this.charName.push({"charName" : "카티야"}); };
                    if (info.CHARACTER_NUM == 73) { this.charName.push({"charName" : "샬럿"}); };
                    if (info.CHARACTER_NUM == 74) { this.charName.push({"charName" : "다르코"}); };
                    if (info.CHARACTER_NUM == 75) { this.charName.push({"charName" : "르노어"}); };
                }
            }
        },
        mounted() {
            this.fnLoginCheck();
            this.fnLoadSessionInfo();
            this.fnDataInit();
            this.fnGetMenuCheck();
        }
    });
    app.mount('#app');
</script>

</html>