<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <meta charset="EUC-KR">
    <title>Insert title here</title>
    <link rel="stylesheet" href="css/total.css">
</head>

<body>
    <div id="app">
        <header id="header">
            <div>header</div>
        </header>
        <section id="container" class="boxEffect">
            <input type="text" placeholder="아이디" v-model="info.userId">
            <input type="password" placeholder="비밀번호" v-model="info.pwd">
            <div class="button" @click="fnLogin">로그인</div>
            <div class="button" @click="fnSignUp">회원가입</div>
        </section>
        <footer id="footer">
            <div>footer</div>
        </footer>
    </div>
</body>
<script>
    const app = Vue.createApp({
        data() {
            return {
                info: {
                    userId : "",
                    pwd : "",
                }
            };
        },
        methods: {
            fnLogin() {
                $.ajax({
                   url: `http://localhost:3000/login`,
                   dataType: "json",
                   type: "POST",
                   data: JSON.stringify(this.info),
                   contentType: "application/json",
                   success: (data) => {
                        if (data.length > 0) {
                            sessionStorage.setItem("userInfo", JSON.stringify(data[ 0 ]) );
                            location.href = "Profile.html";
                        } else {
                            alert("아이디나 패스워드를 확인하세요.");
                        }
                   }
                });
            },
            fnSignUp() {
                location.href = "signUp.html";
            }
        },
        mounted() {
            sessionStorage.removeItem("userInfo");
        }
    });
    app.mount('#app');
</script>

</html>