<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <meta charset="EUC-KR">
    <title>Insert title here</title>
    <link rel="stylesheet" href="css/total.css">
</head>

<body>
    <div id="app">
        <header id="header">
            <div class="centerFlex">
                <div class="logo"></div>
                <div class="logoText">
                    <h3 class="menuText">Return GG</h3>
                    <p class="menuText menuSmallText">이터널 리턴 전적 분석 사이트</p>
                </div>
            </div> 
            <div class="alignTmpTag"></div>
        </header>
        <section id="signUpContainer">
            <div class="flexLine">
                <input v-if="!isCheckedId" class="idBox" type="text" placeholder="아이디" v-model="info.userId" ref="idBox" @focus="fnSetBoxLine('red')" @blur="fnSetBoxLine('black')">
                <input v-else disabled class="idBox" type="text" placeholder="아이디" v-model="info.userId">
                <div class="checkBtn" @click="fnIdCheck">중복확인</div>
            </div>
            <input type="password" placeholder="비밀번호" v-model="info.pwd" @keyup="fnPwdPress" ref="pwdBox" @focus="fnSetBoxLine('red')" @blur="fnSetBoxLine('black')">
            <input type="password" placeholder="비밀번호 확인" v-model="checkPwd" @keyup="fnPwdPress" ref="pwdCheckBox" @focus="fnSetBoxLine('red')" @blur="fnSetBoxLine('black')">
            <div class="pwdText" ref="pwdText">{{pwdText}}</div>
            <div class="flexLine">
                <input v-if="!isCheckedNickname" class="idBox" type="text" placeholder="유저 닉네임" v-model="info.nickname" ref="nicknameBox" @focus="fnSetBoxLine('red')" @blur="fnSetBoxLine('black')">
                <input v-else disabled class="idBox" type="text" placeholder="유저 닉네임" v-model="info.nickname" @focus="fnSetBoxLine('red')" @blur="fnSetBoxLine('black')">
                <div class="checkBtn" @click="fnNicknameCheck">유저확인</div>
            </div>
            <div class="signUpButton" @click="fnSignUp">가입하기</div>
        </section>
        <footer id="footer">
            <div class="flexHorizontal">
                <div class="smallLogo"></div>
                <div class="footerText">Return GG</div>
            </div>
            <p>© Return.GG. Eternal Return and all related logos are trademarks of Nimble Neuron, inc. or its affiliates.</p>
        </footer>
    </div>
</body>
<script>
    const app = Vue.createApp({
        data() {
            return {
                info : {
                    userId : "",
                    pwd : "",
                    nickname : "",
                    userNum : ""
                },
                checkPwd : "",
                isCheckedId : false,
                isCheckedNickname : false,
                pwdText: "비밀번호를 입력해주세요."
            };
        },
        methods: {
            fnSetBoxLine(color) {
                event.srcElement.style.borderColor = color;
                event.srcElement.style.outline = "none";
            },
            fnPwdPress() {
                if (this.info.pwd.length < 8) {
                    this.pwdText = "비밀번호는 8글자 이상이어야 합니다.";
                    this.$refs.pwdText.style.color = "red";
                    return;
                }

                if (this.info.pwd != this.checkPwd) {
                    this.pwdText = "비밀번호가 다릅니다.";
                    this.$refs.pwdText.style.color = "red";
                    return;
                } else {
                    this.pwdText = "비밀번호가 일치합니다.";
                    this.$refs.pwdText.style.color = "green";
                    return;
                }
            },
            fnIdCheck() {
                if (this.info.userId.length < 5) {
                    alert("아이디는 5글자 이상이어야 합니다.");
                    this.$refs.idBox.focus();
                    return;
                }

                $.ajax({
                   url: `http://localhost:3000/idCheck`,
                   dataType: "json",
                   type: "POST",
                   data: JSON.stringify(this.info),
                   contentType: "application/json",
                   success: (data) => {
                        if (data.length > 0) {
                            alert('중복된 아이디입니다.');
                            this.$refs.idBox.focus();
                        } else {
                            alert('사용 가능한 아이디입니다.');
                            this.isCheckedId = true;
                        }
                   }
                });
            },
            fnNicknameCheck() {
                if (this.info.nickname.length == 0) {
                    alert("닉네임을 입력해주세요");
                    this.$refs.nicknameBox.focus();
                    return;
                }

                $.ajax({
                   url: `https://open-api.bser.io/v1/user/nickname?query=${this.info.nickname}`,
                   dataType: "json",
                   type: "GET",
                   contentType: "application/json",
                   headers: {
                        "accept"    : "application/json",
                        "x-api-key" : "2hjkR0q4z62fTg87aY6O3giO9jcQ70C7rP1uSwwc"
                   },
                   success: (data) => {
                        console.log(data);
                        if (data.code == 200) {
                            alert("계정이 확인되었습니다.");
                            this.info.userNum = data.user.userNum;
                            this.isCheckedNickname = true;
                        } else {
                            alert("존재하지 않는 계정입니다.");
                            this.$refs.nicknameBox.focus();
                        }
                   }
                });
            },
            fnSignUp() {
                if (!this.isCheckedId) {
                    alert("아이디 중복 확인을 해주세요.");
                    this.$refs.idBox.focus();
                    return;
                }

                if (this.info.pwd.length == 0) {
                    alert("비밀번호를 입력해주세요");
                    this.$refs.pwdBox.focus();
                    return;
                }

                if (this.checkPwd.length == 0) {
                    alert("비밀번호 확인을 입력해주세요");
                    this.$refs.pwdCheckBox.focus();
                    return;
                }

                if (this.info.pwd.length < 8) {
                    alert("비밀번호는 8글자 이상이어야합니다.");
                    this.$refs.pwdBox.focus();
                    return;
                }

                if (this.info.pwd != this.checkPwd) {
                    alert("비밀번호가 같지 않습니다.");
                    this.$refs.pwdBox.focus();
                    return;
                }

                if (!this.isCheckedNickname) {
                    alert("닉네임 인증을 해주세요.");
                    this.$refs.nicknameBox.focus();
                    return;
                }

                $.ajax({
                   url: `http://localhost:3000/signUp`,
                   dataType: "json",
                   type: "POST",
                   data: JSON.stringify(this.info),
                   contentType: "application/json",
                   success: (data) => {
                        alert("가입되었습니다!");
                        location.href = "login.html";
                   }
                });
            }
        },
        mounted() {
            
        }
    });
    app.mount('#app');
</script>

</html>